
// *** ---- mixins --- *** ///
@font-face {
    font-family: poppins-light;
    src: url(./assests/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppins-med;
    src: url(./assests/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(./assests/fonts/Poppins-Bold.ttf);
}

// *** ---- variables --- *** ///
$primary-color: rgb(0, 153, 255);
$seconDary-color: rgb(0, 110, 255);
@mixin container {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    flex-wrap: wrap;
}
@mixin border {
    border: 1px solid black;
}

@mixin section-fluid {
    width: 100%;   
    display: grid;
    grid-template-columns: 70%;
    justify-content: center !important;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 2%;
    height: fit-content;
}
@mixin primary-btn{
    padding:8px 15px;
    background-color: rgb(0, 153, 255);
    border-radius: 5px;
    margin: 5px;
    color: white;
    border: none;
    box-shadow: rgba(0, 153, 255, 0.555) 0px 5px 15px;
    
}
@mixin mini-txt {
    font-size: 20px;
    color: black;
    font-weight: 700;
}
@mixin anchor {
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: 0.50px;
}

// *** ---- styling start --- *** ///
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.my-navigation{
    width: 100%;
    height:fit-content;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0px;
    align-items: center;
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
        
   


   .my-container{
    justify-content: space-between;
    display: flex;
    align-items: center;

    .logo{
        align-self:last baseline;
        h1{
            font-size: 1.90rem;
            font-family: poppins-bold;
            letter-spacing: 1px;
            color: $primary-color;
        }
        span{
            color: black;
        }
    }
    .menue{
        display: flex ;
        gap: 2.50rem;
        list-style-type: none;
        align-items: center;
        margin: 0;
        
        a{
            text-decoration: none;
            font-family: poppins-med;
            color: black;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: 400;
            line-height: 2px
            
        }
    }
   }
  
   .form-box{
    .menue{
        display: none
    }
    .btn{
        @include primary-btn;

        a{
            @include anchor ;
        }
    }
    .bars-icon-btn{
        display: none;
    }
   }
}
//---*** <-- all media quries start --> ***---//
//  <-- nav -->  //
// `sm` applies to x-small devices (portrait phones, less than 576px) start //
@media (max-width: 575.98px) { 
    .my-navigation{
        width: 100%;
        display: flex;
        padding: 8px 10px;
        
        .my-container{
            width: 100% !important;

            .menue{
                display: none;
            }
            .btn{
                display: none;
            }
            .bars-icon-btn{
                display: block;
            }
        }
        .form-box{
            display: none;
            .menue-res{
                display: none;
            }
        }
       
    }

 }

// `md` applies to small devices (landscape phones, less than 768px) satrt //
@media (max-width: 767.98px) { 
    .my-navigation{
        width: 100%;
        display: flex;
        padding: 8px 10px;
        
        .my-container{
            width: 100% !important;

            .menue{
                display: none;
            }
            .btn{
                display: none;
            }
            .bars-icon-btn{
                display: block;
            }
        }
      
       
    }
 }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .my-navigation{
        width: 100%;
        display: flex;
        padding: 8px 10px;
        
        .my-container{
            width: 100% !important;

            .btn{
                display: initial;
            }
            .bars-icon-btn{
                display: none;
            }
            .menue{
                display: none;
            }
        }
        .form-box{
            
            width: max-content;
            display: flex;
            padding: 0px 15px;
           

            .menue-res{
                align-items: center;
                display: flex;
                list-style-type: none;
                gap: 1.40rem;
                margin-right: 1rem;

                a{
                    text-decoration: none;
                    font-family: poppins-med;
                    font-size: 13px;
                    color: black;
                }
                
               
            }
        }
       
    }

 }

// `xl` applies to large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) { ... }